* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main,
.wrapper {
    margin: 0 auto;
    max-width: 960px;
}

main {
    flex: 1;
}

nav {
    display: flex;
    width: 960px;
}

h1 {
    text-align: center;
    font-weight: 600;
    font-size: 3em;
    padding: 20px 0 10px 0;
}

h2 {
    font-weight: 600;
    font-size: 1.2em;
}

.first, .second {
    max-width: 960px;
}

#graph {
    width: 100%;
}


#first,
#second {
    padding: 15px;
    background-color: #ededef;
    width: 150px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s linear;
}

#first:hover,
#second:hover {
    background: #ffffff;
    outline: 1px solid #000000;
}

.current-tab {
    background-color: #ffffff;
    outline: 1px solid #000000;
}

#second {
    margin-left: 20px;
}

footer a {
    color: #11457e;
    text-decoration: underline;
    transition: 0.3s linear;
}

footer a:hover {
    color: #d7141a;    
}

footer {
    margin-top: 50px;
    background-color: #ededef;
    padding: 50px 0 60px 0;
    font-size: 1.2em;
}
