* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

main {
    margin: 0 auto;
    max-width: 900px;
}

h1 {
    font-size: 1.5em;
    text-align: center;
}

#graph {
    cursor: default;
    max-width: 960px;
    
}

